<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loading - DATASLATEP</title>
  <link rel="stylesheet" href="/css/loading-style.css">
</head>
<body>
  <div class="scale-container">
    <div class="terminal glitch">
      <div class="scanline"></div>
      <p class="spinner">[/]</p>
      <div class="hydra">
        <div class="hydra_rebooting">
          <p>&lt; DATASLATE LOADING &gt;</p>
          <p class="text--sm">DATASLATE VER 2.1 SYS INITIALIZING</p>
          <p class="text--sm">PROCESS: <span class="process-amount">0</span>%</p>
          <p class="loading-bar"></p>
        </div>
        <div class="hydra_reboot_success hidden">
          <p>LOADING SUCCESSFUL</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Assuming your animation duration is 5 seconds
    setTimeout(function() {
      window.location.href = "/dashboard";
    }, 5000); // Adjust the time according to your animation duration
  </script>
  <script src="/js/script.js"></script>
</body>
</html>
